h1{
    color: red;
}

a{
    color: blue;
    text-decoration: underline;
}

.imagecup{
    display: flex;
    position: relative;
    justify-content: center;
}

.cadreliste{
    border:red solid 1px;
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 5%;
}